body {
    font-family: 'IBM Plex Sans',sans-serif;
}

.container {
    width: 80%;
    padding: 30px;
    background-color: white;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    border-radius: 8px;
    margin: 20px 0;
}

img {
  
    height: 45px;
    width: auto;
}

.container h3 {
    text-align: end;
    color: #979797;
    font-weight: 500;
    margin: 0;
    animation: highOpacity 1s ease-in-out;
}
